<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>register</title>
</head>
<body>
<label >Firstname</label>
<input type="text" name="Firstname" id="Firstname"><br>
<label >Lastname</label>
<input type="text" name="Lastname" id="Lastname"><br>
<label >Email</label>
<input type="text" name="Email" id="Email"><br>
<label >Adharnumber</label>
<input type="text" name="Adharnumber" id="Adharnumer"><br>
<label >Fathername</label><br>
<input type="text" name="Fathername" id="Fathername"><br>
<label >Mothername</label><br>
<input type="text" name="Mothername" id="Mothername"><br>



</body>
</html>