<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login page</title>
</head>
<body>
<img src="web-desige.png">
<label for="">Firstname</label><br>
<input type="text" name="Firstname" id="Firstname"><br>
<label for="">lastname</label><br>
<input type="text" name="lastname" id="lastname"><br>
<label for="">Email</label><br>
<input type="text" name="Email" id="Email"><br>
<label for="">Password</label><br>
<input type="text" name="passworld" id="passworld"><br>
<label for="">Remember</label><br>
<input type="text" name="Remember" id="Remember"><br>
<input type="button" value="Submit"><br>
</body>
</html>